{{define "page:title"}}Status{{end}}

{{define "page:content"}}
<h1>Status</h1>
{{template "status:details" .}}
{{end}}

<!-- Fragments for the status page -->

{{define "status:details"}}
<p>Server time: {{.Status.Now.Format "15:04:05"}}. Uptime: {{.Status.Uptime}}.</p>
{{end}}
